/* hoja de estilo css */

/* tres selectores */

/* selector por etiqueta */

p h2 {
  color: blueviolet;
}

.contenedor {
  background-color: rgb(43, 44, 44); /*color de fondo*/
  color: rgb(255, 255, 255); /*modifica el color del texto*/
  border: 15px solid black;
  padding: 50px;
  display: flex;
  gap: 20px;
  width: 600px;
  height: 300px;
  font-size: 11px;
  font-family: sans-serif;
}
.contenedor1 {
  color: rgb(88, 85, 82);
}
.contenedor3 {
  color: rgb(88, 85, 82);
}
.contenedor2 {
  color: rgb(230, 108, 27);
}

.contenedor-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 410px;
  height: 310px;
}
