/* hoja de estilo css */

/* tres selectores */

/* selector por etiqueta */

p h2 {
  color: blueviolet;
}

.contenedor {
  color: brown; /*modifica el color del texto*/
  background-color: aquamarine; /*color de fondo*/
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  border: 2px solid black;
  padding: 50px;
}

.contenedor-bordes {
}
