p h2 {
  color: blueviolet;
}

.contenedor {
  background-color: rgb(96, 119, 247); /*color de fondo*/
  color: rgb(54, 76, 197); /*modifica el color del texto*/
  padding: 100px;
  display: flex;
  flex-direction: column; /*si hay flex direction los elementos se centran con align-items*/
  gap: 15px;
  width: 130px;
  height: 150px;
  font-size: 11px;
  font-family: sans-serif;
  align-items: center;
}
.contenedor1 {
  color: rgb(88, 85, 82);
  font-size: 8px;
  font-style: initial;
}
.contenedor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  max-width: 100px;
}
button {
  max-width: 100px;
}

body {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
